<div class="flex justify-center gap-3 pt-10">
  <p-button label="Test 500" severity="danger" (click)="get500Error()"></p-button>
  <p-button label="Test 400" severity="warn" (click)="get400Error()"></p-button>
  <p-button label="Test 404" severity="info" (click)="get404Error()"></p-button>
  <p-button label="Test 401" severity="success" (click)="get401Error()"></p-button>
  <p-button
    label="Test 400 Validation"
    severity="secondary"
    (click)="get400ValidationError()"
  ></p-button>
</div>

@if (validationErrors().length > 0) {
  <div class="card bg-base-100 flex mt-5 rounded-2xl w-1/2 p-3 mx-auto">
    <ul class="flex flex-col text-red-600 space-y-2">
      @for (error of validationErrors(); track $index) {
        <li>- {{ error }}</li>
      }
    </ul>
  </div>
}
