<div class="w-full">
  <p-toolbar class="mb-6">
    <ng-template #start>
      <p-button
        (click)="openNew()"
        label="New"
        icon="pi pi-plus"
        severity="secondary"
        class="mr-2"
      />
      <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined />
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [rows]="transactionParams.pageSize"
    [loading]="busyService.busyRequestCount() > 0"
    [columns]="cols"
    [paginator]="true"
    [lazy]="true"
    [totalRecords]="totalRecords()"
    (onLazyLoad)="loadTransactions($event)"
    [value]="transactions()"
    [globalFilterFields]="['date', 'category', 'inventoryStatus']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} transactions"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20, 30]"
  >
    <ng-template #caption>
      <div class="flex flex-col md:flex-row items-center justify-between gap-4">
        <div class="flex items-center gap-10">
          <h5 class="m-0!">Manage Transactions</h5>
          <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input pInputText type="text" placeholder="Search..." class="w-100" />
          </p-iconfield>
        </div>
        <div class="flex items-center gap-4">
          <span class="text-gray-500 text-sm whitespace-nowrap">
            {{ (transactionParams.pageNumber - 1) * transactionParams.pageSize + 1 }}
            to
            {{
              Math.min(transactionParams.pageNumber * transactionParams.pageSize, totalRecords())
            }}
            of
            {{ totalRecords() }} transactions
          </span>
          <p-paginator
            [first]="(transactionParams.pageNumber - 1) * transactionParams.pageSize"
            [rows]="transactionParams.pageSize"
            [totalRecords]="totalRecords()"
            [rowsPerPageOptions]="[5, 10, 20, 30]"
            (onPageChange)="onPageChange($event)"
            [showPageLinks]="false"
            [showJumpToPageDropdown]="false"
          />
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="date" style="min-width: 16rem">
          Date
          <p-sortIcon field="date" />
        </th>
        <th style="min-width: 16rem">Description</th>
        <th pSortableColumn="amount" style="min-width: 8rem">
          Amount
          <p-sortIcon field="amount" />
        </th>
        <th pSortableColumn="category" style="min-width: 10rem">
          Category
          <p-sortIcon field="category" />
        </th>
        <th pSortableColumn="type" style="min-width: 10rem">
          Type
          <p-sortIcon field="type" />
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="product" />
        </td>
        <td style="min-width: 12rem">{{ product.date | date }}</td>
        <td style="min-width: 16rem">{{ product.description }}</td>
        <td>{{ product.amount | currency: 'USD' }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.type }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" />
          <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
  >
    <ng-template #content>
      <form
        id="transactionForm"
        [formGroup]="transactionForm"
        class="p-fluid"
        (ngSubmit)="submit()"
      >
        <div class="flex flex-col gap-6">
          <div>
            <p-tabs value="0">
              <p-tablist>
                <p-tab value="0">Expense</p-tab>
                <p-tab value="1">Income</p-tab>
              </p-tablist>
              <p-tabpanels class="mt-5 p-0!">
                <span class="block font-bold mb-4">Category</span>
                <!-- Onglet Expense -->
                <p-tabpanel value="0">
                  <div class="grid grid-cols-3 gap-5 mt-4">
                    @for (categorie of categories(); track categorie.id) {
                      @if (categorie.type === 'Expense') {
                        <div class="flex items-center gap-2">
                          <p-radiobutton
                            formControlName="category"
                            [inputId]="'cat-' + categorie.id"
                            name="category"
                            [value]="categorie.name"
                          />
                          <label [for]="'cat-' + categorie.id">{{ categorie.name }}</label>
                        </div>
                      }
                    }
                  </div>
                </p-tabpanel>

                <!-- Onglet Income -->
                <p-tabpanel value="1">
                  <div class="grid grid-cols-3 gap-5 mt-4">
                    @for (categorie of categories(); track categorie.id) {
                      @if (categorie.type === 'Income') {
                        <div class="flex items-center gap-2">
                          <p-radiobutton
                            formControlName="category"
                            [inputId]="'cat-' + categorie.id"
                            name="category"
                            [value]="categorie.name"
                          />
                          <label [for]="'cat-' + categorie.id">{{ categorie.name }}</label>
                        </div>
                      }
                    }
                  </div>
                </p-tabpanel>
                @if (
                  transactionForm.get('category')?.invalid &&
                  transactionForm.get('category')?.touched
                ) {
                  <small class="p-error text-red-500">Category is required.</small>
                }
              </p-tabpanels>
            </p-tabs>
          </div>
          <div>
            <label for="description" class="block font-bold mb-3">Description</label>
            <input
              formControlName="description"
              type="text"
              pInputText
              id="description"
              required
              autofocus
              fluid
            />
            @if (
              transactionForm.get('description')?.invalid &&
              transactionForm.get('description')?.touched
            ) {
              <small class="p-error invalid-feedback">Description is required.</small>
            }
          </div>
          <!-- <div>
            <label for="description" class="block font-bold mb-3">Description</label>
            <textarea
              formControlName="description"
              id="description"
              pTextarea
              required
              rows="3"
              cols="20"
              fluid
            ></textarea>
          </div> -->
          <!-- <div>
            <label for="inventoryStatus" class="block font-bold mb-3">Inventory Status</label>
            <p-select
              inputId="inventoryStatus"
              formControlName="status"
              [options]="statuses"
              optionLabel="label"
              optionValue="label"
              placeholder="Select a Status"
              fluid
            />
          </div> -->
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-6">
              <label for="amount" class="block font-bold mb-3">Amount</label>
              <p-inputnumber
                formControlName="amount"
                inputId="amount"
                mode="currency"
                currency="USD"
                locale="en-US"
                fluid
              />
              <small class="p-error invalid-feedback">Amount is required.</small>
            </div>
          </div>
          <div>
            <label for="date" class="block font-bold mb-3">Date</label>
            <p-date-picker
              formControlName="date"
              [showButtonBar]="true"
              inputId="date"
              dateFormat="mm/dd/yy"
              showIcon
              fluid
            ></p-date-picker>
          </div>
        </div>
        <div class="mt-5 mb-2 flex justify-end items-center gap-3">
          <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
          <p-button form="transactionForm" label="Create" icon="pi pi-check" type="submit" />
        </div>
      </form>
    </ng-template>
  </p-dialog>
</div>
