:host ::ng-deep {
  .p-inputtext.ng-invalid.ng-touched:focus,
  .p-inputtext.ng-invalid.ng-dirty:focus,
  p-password.ng-invalid.ng-touched .p-inputtext:focus,
  p-password.ng-invalid.ng-dirty .p-inputtext:focus {
    border-color: var(--p-inputtext-focus-border-color);
  }

  .p-inputtext.ng-invalid.ng-touched:not(:focus),
  .p-inputtext.ng-invalid.ng-dirty:not(:focus),
  p-password.ng-invalid.ng-touched .p-inputtext:not(:focus),
  p-password.ng-invalid.ng-dirty .p-inputtext:not(:focus) {
    border-color: var(--p-inputtext-border-color);
  }

  .p-inputtext.p-invalid,
  .p-password-input.p-invalid {
    border-color: var(--p-inputtext-invalid-border-color) !important;
  }
}
